.buttonCatalogo {
  width: 75%;
  max-width: 500px;
  height: 60px;
  margin: auto;
  font-size: 1.2rem;
  letter-spacing: 1px;

  & .diamon {
    position: absolute;
    transform: translate(-90px, -5px);
    font-size: 2rem;
  }
}

.catalogo {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  // transform: translate(0, 20px);

  & picture {
    display: flex;
    width: 100%;
    overflow: hidden;
    border: 1px solid #000;
  }
}

