.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease;
    height: 650px;
    opacity: 1;

    & h1 {
      letter-spacing: 1px;
      color: #ffd700;
      text-shadow: 0 2px 5px #000, 0 2px 5px #000,0 2px 5px #000;
    }

    .swiper-container {
      width: 80%;
      margin-bottom: 20px;
    }
  
    & picture {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 250px;
      height: 250px;
      border-radius: 15px;
      box-shadow: inset 0 15px 15px #000;

      & img {
        border-radius: 15px;
        box-shadow: 0 10px 15px #000;
      }
      
    }
  
    .joya-details {
      display: grid;
      place-content: center;
      gap: 15px;
      width: 280px;
      height: 250px;
      border-radius: 15px;
      box-shadow: inset 0px 0px 15px #FFD700, inset 0 0 55px #000;

      & h2, p {
        text-align: center;
        color: #FFD700;
        text-shadow: 0 5px 5px #000;
        letter-spacing: 1px;
      }
    }
  }



.buttonsContainer {
    width: 100%;
    max-width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    & button {
        width: 95px;
        height: 40px;
        border-radius: 20px;
        background: transparent;
        border-color: rgb(218, 221, 25);
        font-size: .9rem;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;

    }
}

.main {
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 1000;
  opacity: 1;
  & h1 {
    letter-spacing: 1px;
    color: #ffd700;
    text-shadow: 0 5px 5px #000, 0 2px 5px #000,0 2px 5px #000;
  }
}

.menuAbierto {
  opacity: 0;
  position: relative;
  z-index: -1000;
}