// @tailwind base;
// @tailwind components;
// @tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    // background: linear-gradient(55deg, #000, #FFD700);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

h1 {
    text-align: center;
    margin: 20px auto;
}