@use './components/Menu';
@use './components/Catalogo';


.main {
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 1000;
    & h1 {
      letter-spacing: 1px;
      color: #ffd700;
      text-shadow: 0 5px 5px #000, 0 2px 5px #000,0 2px 5px #000;
    }
  }
  
.menuAbierto {
    display: none;
  }


  .Pie {
    width: 100%;
    height: 350px;
    color: #fff;
    text-align: center;
    border: 1px solid #fff;
  }