@use './components/Menu';

.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .swiper-container {
      width: 80%;
      margin-bottom: 20px;
    }
  
    .joya {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
    }
  
    .joya-details {
      text-align: center;
    }
  }
  